<section id="solutions-section" class="solutions-section container-fluid">

  <div class="row relative">

      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 solution solution1">
        <div class="solution-title white">Individual Tax Preparation</div>  
        <div class="solution-blurb white"><p>My interview process is designed to find the deductions and credits you’re entitled to, in order to ensure that you get the maximum refund allowable. I provide the most accurate and professional service possible, using the most up to date technology. I have received hours of specialty training on federal and state taxes laws, the most recent tax law changes and industry leading tax software.</p>
        
          <button class="solution1-btn default-btn" href="#">
              Get Started
            </button></div>

        
      </div>

      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 solution solution2">
        <div class="solution-title">Electronic Filing</div>
          <div class="solution-blurb">
              <p><span class="strong">Electronic Filing with Direct Deposit</span> Your Federal tax return is electronically transmitted to the IRS within 2 weeks, the IRS will deposit your refund into your bank account once they have completed your return. Electronic transmittal of your state tax return is included with this service.</p>
              <p><span class="strong">Electronic Filing with Direct Mail</span> to Home With this service, your Federal tax return is also electronically transmitted to the IRS, but your tax refund check may take up to 6 weeks to be delivered to your home. Electronic transmittal of your state tax return is also included with this service. If you choose this service, you must pay the fees for preparing and electronically filing your tax return by cash, credit card, or debit card before leaving the tax office.</p>
          </div>
          
      </div>

      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 solution solution3">
          <div class="solution-title">Amended Tax Returns</div>
           <div class="solution-blurb">
              <p>If, after filing a current or previous tax return, you discover or receive tax documents that may increase your tax refund or help decrease or eliminate tax amounts owed you may bring these documents into the office and I will amend the tax return for a nominal fee.</p>

              <p>Business Tax Filing Preparation and submission of all federal and state filings and remittances, Sole Proprietor, Partnership, Corporation, Non Profit, and others.</p>

              <p class="strong">Other Tax Services</p>
              <ul>
                  <li>Self Employed</li>
                  <li>Extensions</li>
                  <li>State Tax Preparation</li>
                  <li>Assist with IRS audits (If prepared by me)</li>
                  <li>ITIN Tax Preparation</li>
              </ul>
           </div>

      </div>

      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 solution solution4">
          <div class="solution-title">Additional Services</div>
          <div class="solution-blurb">
              <p><span class="strong">Notary On-site and mobile Notary Service</span> available for all types of documents.</p>

              <p>Mobile Fees Traveling fees apply. Travel fees are not specified in the law. Such fees are proper only if the notary and signer(s) agree beforehand on the amount to be charged. The travel fee is separate from the notarial fees. Travel fees range from $35.00 and up depending on time of day and distance traveled. Travel fees will always be discussed prior to departure of your requested service and are payable upon arrival by cash, credit card, or debit card.</p>

              <p><span class="strong">Resume Services</span> Producing resumes to land that ideal job. Let me construct a resume that will grab an employers attention.
              Fax &amp; Copy Services Local and long distance fax service and copy service available.</p>

              <button class="solution1-btn default-btn">
                  <a href="https://goo.gl/forms/G43IFaKcX9fYXtKk1" target="_blank">Schedule a Consultation</a>
                </button>
          </div>
          
      </div>

  </div>


</section> 
