<section id="contact-section" class="contact-section text-center container-fluid">

    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="contact-title white">Drop Off Service</div>
            <p class="contact-blurb white">For those on the go, simply drop off your tax information and I will have your return processed and ready for your signature.</p>
            <p class="contact-blurb white">Floylencia Thomas <span><a href="mailto:flostaxpreparation@gmail.com" class="strong white">flostaxpreparation@gmail.com</a></span> Regions Bank Building 1425 N. Dallas Ave Lancaster,Texas 75146</p>
        
            <ul class="contact-btns">
                <li><button class="solution1-btn default-btn" href="#">
                    Schedule a Consultation
                  </button></li>
        
                <li><button class="contact-phone white-btn" href="#">
                    (281) 406-3715
                  </button></li>
        
            </ul>
        </div>
    
    </div>

</section> 