<section id="footer-section" class="footer-section container-fluid">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
            &copy; Copyright 2018 <span class="color">thebeardedtek&trade;</span>. &nbsp;All rights reserved.
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right footer-social-col">
        
          <span class="footer-social-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin"></i>
              <i class="fab fa-twitter"></i>
            </span>
          </div>
    </div>


    <div class="row mobile-consultation-row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mobile-consultation-div">
            <span class="mobile-consultation" (click)=toggleMobileContactForm()>Schedule Your Consultation</span>
        </div>
    </div>
</section> 