<section id="about-section" class="about-section container">
  <div class="row">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-8">
      <p class="about-title">About Flo</p>
    <p>Flo’s Tax Prep wants to be the company you come to whenever you need tax filing services. I put the needs of my clients front and center. I take a personalized approach to dealing with my clients. I take time to sit down with you to discuss your financial situation in detail. I’m a highly qualified tax preparer with over 5 years experience. Extensive Knowledge of tax principles, taxation policies and income tax procedures.
    </p>

    <p>My purpose for starting my own tax business was to help those who have been taken advantage of by other tax companies. I love helping people and I want to use my knowledge to help those in need of honest tax preparation services. I am a Certified Tax Preparer who upholds the tax laws with integrity to assure you get the best service out here.</p>

    <p>I’m here to serve you with the superb work ethics to achieve top results for each client. I was born and raised in Dallas, Texas and have a passion for others. I believe it is one of my gifts to help others so I use my Tax Knowledge to do just that. I am here to offer my expertise in all of the different services I offer.</p>

    <p>I’m set apart from the rest because i’m here for you from start to finish of your tax needs. I will ensure you get the top customer service there is to offer. So please allow me the opportunity to gain your business and get you back your maximum tax refund.
        Flo’s Tax Prep It’s the Integrity you can see!</p>

    </div>

    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 dalLas-bridge-col">
        <picture>
            <source media="(min-width: 650px)" srcset="/../../assets/about/dallas-bridge.png">
            <source media="(min-width: 465px)" srcset="/../../assets/about/dallas-bridge.png">
            <img class="dalLas-bridge default-shadow" src="/../../assets/about/dallas-bridge.png">
          </picture> 
    </div>
  </div>
</section>