#about-section{padding: 3% 0;}
.about-section{font-size: 1.2em;}
.about-title{font-size: 2em;}

@media screen and (max-width:400px){
    .dalLas-bridge{max-width: 300px;}
    .dalLas-bridge-col{text-align: center;}
    .default-shadow{box-shadow: 0px 0px 30px rgba(51,51,51,.8);}
    #about-section{padding: 3% 10%;}
}