<section id="contact-form" class="contact-form container-fluid">

    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" id="" class="">

        <input formControlName="first_name" type="text" class="first_name" name="first_name" placeholder="First Name">

        <input formControlName="last_name" type="text" class="last_name" name="last_name" placeholder="Last Name">

        <input formControlName="email" type="email" class="email" name="email" placeholder="Email Name">

        <input formControlName="phone" type="tel" class="phone" name="phone" placeholder="Phone Name">

        <input formControlName="appointment_date" type="date" class="appointment_date" name="appointment_date">

        <input formControlName="appointment_time" type="time" class="appointment_time" name="appointment_time">

        <button class="default-btn" type="submit">Submit</button>
        <button class="inverse-btn" type="reset">Reset</button>
    </form> -->

</section>