#header-section{min-height:900px; background: url('/../assets/header/hero/hero-bg.jpg') no-repeat center top; background-size:100% auto; width: 100%; height: 100%;}
.header-svg{z-index: 1;}
.header-row{position:relative; z-index: 9; padding-left:10%; padding-right: 10%;}
.logo-div{}
.logo-img{max-height: 50px; width: auto; border:1px solid white; padding:12px;}
#header{padding-top:40px;}
.menu-nav{list-style-type: none;}
.menu-nav li{display: inline-block; margin-right: 30px;}
.menu-nav li:last-of-type{margin-right: none;}
.menu-link{font-size: 1.2em;}
.menu-link a{color:#ddd; text-decoration: none;}
.menu-link:hover a{text-decoration: none; color: #fff;}
.appointment{border:1px solid white; padding:10px; background-color:#1187de;}

#hero-content{padding:12% 10% 10%; z-index: 9;}
.hero-title{font-size: 4.5em; color:#FFF;}
.hero-subtext{font-size: 1.8em; color:#ddd;}
.hero-cta{}
.hero-button{margin-top: 20px;}
.mobile-menu-bars-div{margin-bottom: 15px; display: none;}
.mobile-menu-bars:hover{cursor: pointer;}
.mobile-menu-bars i{color:#FFF; font-size: 1.5em;}
#mobile-nav-section{z-index: 9999;position: fixed;top: 0;left: 0;height: 100vh;width: 100vw;background: #1187de;display: flex;align-content: center;align-items: center;justify-content: center;}
.mobile-nav{text-align: center;}
.mobile-nav li{list-style-type: none; color: #FFF; font-size: 2em;}
.mobile-nav li:hover{cursor: pointer;}
.hide-menu{position: absolute;right: 13%;top: 5%; color: #fff;font-size: 2em;}
.hide-menu:hover{cursor: pointer;}

@media screen and (max-width:768px){
    .mobile-menu-bars-div{display: block;}
    .appointment, #menu{display: none !important;}
    .hero-title{font-size: 2.5em;}
    .hero-subtext{font-size: 1.3em;}
    #header-section{min-height: 600px;}
    .logo-img{width:100%; max-height: unset;}
}   