<section id="header-section" class="header-section container-fluid height-100 relative">
    <svg width="100%" height="100%" class="height-100 absolute header-svg">
        <rect width="100%" height="100%" style="fill:rgba(0,0,0,.9);stroke-width:3;stroke:rgb(0,0,0)" />
      </svg>
 

  <div id="header" class="row relative header-row">
      <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right mobile-menu-bars-div">
          <span class="mobile-menu-bars" (click)=toggleMenu()><i class="fa fa-bars"></i></span>
        </div>

              <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 logo-div">
                  <picture>
                    <source media="(min-width: 650px)" srcset="/../../assets/header/logo.png">
                    <source media="(min-width: 465px)" srcset="/../../assets/header/logo.png">
                    <img class="logo-img" src="/../../assets/header/logo.png">
                  </picture>                
              </div>
          
              <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 text-right">
                <nav id="menu" class="menu-nav">
                  <li class="menu-link"><a href="#">solutions</a></li>
                  <li class="menu-link"><a href="#">about</a></li>
                  <li class="menu-link"><a href="#">contact</a></li>
                  <li class="menu-link appointment"><a href="#">make an appointment</a></li>
            </nav>
              </div>
</div>

<div id="hero-content" class="hero-content relative height-100">

  <div class="hero-title">Tax Filing Services <span class="color">Nationwide</span></div>
  <div class="hero-subtext">Providing top quality individual and corporate income tax services <br>that always get your the Max!</div>
  <div class="hero-cta">
    <button class="hero-button default-btn" (click)=toggleContactForm()>
      Schedule an Appointment
    </button>
  </div>

</div>

</section>

<section id="mobile-nav-section" class="mobile-nav-section container-fluid" *ngIf="showMenu === true">
  <div class="hide-menu" (click)=toggleMenu()><i class="fa fa-times"></i></div>
  <nav id="mobile-nav" class="mobile-nav">
      <li (click)="scrollToHome()" class="mobile-link">home</li>
      <li (click)="scrollToSolutions()" class="mobile-link">solutions</li>
      <li (click)="scrollToAbout()" class="mobile-link">about</li>
      <li (click)="scrollToAppointment()" class="mobile-link appointment-mobile">appointment</li>
  </nav>
</section>

 

